Repository fullstorydev/rules_android: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-bzlmod-lock, update-e2e-bzlmod-lock

update-bzlmod-lock:
  entry: ./tools/update_bzlmod_lockfile.sh
  language: script
  name: Update MODULE.bazel.lock
  pass_filenames: false

update-e2e-bzlmod-lock:
  args:
  - e2e/smoke
  entry: ./tools/update_bzlmod_lockfile.sh
  language: script
  name: Update e2e/MODULE.bazel.lock
  pass_filenames: false

ci: disable Bazel 8.0.0rc checks for now
  .github/workflows/ci.yaml
Due: none

ci: disable Bazel 8.0.0rc checks for now (#2)
  .github/workflows/ci.yaml
Due: none

feat: initial skeleton for `fullstory_android_binary` rule
  .bazelrc
  .github/workflows/release_prep.sh
  MODULE.bazel
  MODULE.bazel.lock
  README.md
  WORKSPACE.bazel
  android/BUILD.bazel
  android/defs.bzl
  android/dependencies.bzl
  android/private/BUILD.bazel
  android/private/fullstory_android_binary.bzl
  docs/rules.md
  e2e/smoke/MODULE.bazel.lock
  e2e/smoke/WORKSPACE.bazel
  patches/bazelbuild/rules_android/rules_bzl_lib.patch
Due: update-bzlmod-lock, update-e2e-bzlmod-lock

feat: initial skeleton for `fullstory_android_binary` rule (#3)
  .bazelrc
  .github/workflows/release_prep.sh
  MODULE.bazel
  MODULE.bazel.lock
  README.md
  WORKSPACE.bazel
  android/BUILD.bazel
  android/defs.bzl
  android/dependencies.bzl
  android/private/BUILD.bazel
  android/private/fullstory_android_binary.bzl
  docs/rules.md
  e2e/smoke/MODULE.bazel.lock
  e2e/smoke/WORKSPACE.bazel
  patches/bazelbuild/rules_android/rules_bzl_lib.patch
Due: update-bzlmod-lock, update-e2e-bzlmod-lock

refactor: update patch after upstream PR change
  android/private/BUILD.bazel
  android/private/fullstory_android_binary.bzl
  patches/bazelbuild/rules_android/rules_bzl_lib.patch
Due: none

feat: initial integration with `FullstoryInjector
  MODULE.bazel
  MODULE.bazel.lock
  README.md
  android/private/BUILD.bazel
  android/private/fullstory_android_binary.bzl
  android/private/versions.bzl
  android/tests/BUILD.bazel
  android/tests/versions_test.bzl
  docs/rules.md
  maven_install.json
  patches/bazelbuild/rules_android/rules_bzl_lib.patch
Due: update-bzlmod-lock

feat: initial integration with `FullstoryInjector` (#5)
  MODULE.bazel
  MODULE.bazel.lock
  README.md
  android/private/BUILD.bazel
  android/private/fullstory_android_binary.bzl
  android/private/versions.bzl
  android/tests/BUILD.bazel
  android/tests/versions_test.bzl
  docs/rules.md
  maven_install.json
  patches/bazelbuild/rules_android/rules_bzl_lib.patch
Due: update-bzlmod-lock

prevent persisting credentials
  .github/workflows/buildifier.yaml
Due: none

No longer persist credentials (#6)
  .github/workflows/buildifier.yaml
Due: none

Path conditions:
  update-bzlmod-lock: any of: MODULE.bazel
  update-e2e-bzlmod-lock: any of: e2e/smoke/MODULE.bazel
